<%= form_for(@url_shortner) do |f| %>
  <% if @url_shortner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url_shortner.errors.count, "error") %> prohibited this url_shortner from being saved:</h2>

      <ul>
      <% @url_shortner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_url %><br>
    <%= f.text_field :original_url %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
